<div id="<%= dom_id shift %>">
  <p>
    <strong>Current day:</strong>
    <%= shift.current_day %>
  </p>

  <p>
    <strong>Clock in:</strong>
    <%= shift.clock_in %>
  </p>

  <p>
    <strong>Clock out:</strong>
    <%= shift.clock_out %>
  </p>

  <p>
    <strong>All clock:</strong>
    <%= shift.all_clock %>
  </p>

</div>
