<div class='container'>
  <% if @shift&.clock_in %>
    <div class='card text-center'>
    <div id='time' data-clock-in='<%=@shift.clock_in%>'>
      <%# <div id='time' data-elapsed="<%=Time.at((@shift.clock_in - 0.1.second.ago).to_i.abs).strftime("%H:%M:%S")%>
    </div>
    <div class='card'>
      <br /><%= link_to 'Clock Out', user_shift_path(@shift.id), method: :put, class: "btn btn-success mb-4"%>
    </div>
  <% else %>
    <div class='card'>
      <br /><%= link_to 'Clock In', user_user_shifts_path(current_user.id), method: :post, class: "btn btn-success mb-4"%>
    </div>
  <% end %>

  <%= render 'shifts', shifts: @shifts %>


<script>


function timer () {
  var clockInElement = document.getElementById('time')
  var clockIn        = new Date(clockInElement.dataset.clockIn)
  var currentTime    = new Date()
  var timeDif        = (currentTime - clockIn)/1000
  var hours          = timeDif / 3600
  var mins           = (hours - parseInt(hours)) * 60
  var secs           = (mins - parseInt(mins)) * 60

  clockInElement.innerHTML = parseInt(hours) + ":" + parseInt(mins) + ":" + parseInt(secs)
}

setInterval(timer, 1000)
</script>
</div>
