<p style="color: green"><%= notice %></p>

<h1>Shifts</h1>

<div id="shifts">
  <% @shifts.each do |shift| %>
    <%= render shift %>
    <p>
      <%= link_to "Show this shift", user_user_shift_path(current_user, shift.id) %>
    </p>
  <% end %>
</div>

<%if user_signed_in? %>
  <%= link_to "New shift",  new_user_user_shift_path(current_user)  %>
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <%else%>
    <%= link_to "lOGIN", new_user_session_path %>
<%end%>

